/*  
.box{
     background-color: #0666B2;
     width: 300px;
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
     margin: auto;
     padding: 30px 30px;
}
.info{
     align-items: center;
} */